.product_table {
  border: 1px solid black;
}

.product_table th {
  background-color: rgb(182, 139, 139);
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.product_table tbody td {
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.product_table tfoot {
  background-color: rgb(149, 187, 224);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 1em;
}
